$pressed: rgba(0, 128, 0, 0.5);

.arrow-key {
  cursor: pointer;
  flex: 0 0 33.3%;
  // padding: 32px;
  display: flex;
  justify-content: center;

  &.up {
    flex: 1 1 100%;
  }

  &.pressed {
    background: $pressed;
  }

  &:hover {
    background: rgba(0, 128, 0, 0.2);
  }

  &:active {
    background: $pressed;
  }

  img {
    width: 72px;
    height: 72px;
  }
}